<div class="container--flex" *ngIf="loaded; else loader">
    <aside class="aside">
        <nav class="aside__menu">
            <ul class="aside__menu-list">
              <li 
                class="aside__menu-item"
                *ngFor="let item of aside.items"
                [className]="item.menu_item_parent != 0 ? 'aside__menu-item--child':'aside__menu-item--parent'">
                <a class="aside__menu-link" routerLink="{{item.link}}" routerLinkActive="active">{{item.title}}</a>
              </li>
            </ul>          
        </nav>
      </aside>
      <div class="error">
        <section class="default">
            <div class="page-title">
              <div class="page-title__line">
                  <div class="page-title__progress"></div>
              </div>
              <div class="page-title__text">Błąd 404...</div>
            </div>
            <div class="default__text">
              <div class="default__content">
                <h2>Brak szukanej frazy...</h2>
              </div>
            </div> 
          </section>
      </div>
  </div>
  <ng-template #loader>
      <div class="about-loader"></div>
  </ng-template>

