@import '../../../styles/global/variables';


.footer {
    background:$footer-background;
    color:white;
    padding-top:111px;
    a {
        color:#898989;
        -webkit-transition:all 0.3s ease-in-out;
        transition:all 0.3s ease-in-out;

    }
    a:hover {
        color:$main-slider-link-color;
    }
    &__container{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align:center;
            -ms-flex-align:center;
                align-items:center;
    }
    &__data {
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        border-top:1px solid #545454;
        border-bottom:1px solid #545454;
        padding:40px 0;
    }
    &__box {
        width:33.33%;
        color:white;
        p {
            color:#898989;
        }

        ul {
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            -ms-flex-wrap:wrap;
                flex-wrap:wrap;
            margin:0;
            padding:0;
        }
        li {
            list-style:none;
            width:50%;
            a {
                color:#898989;
                -webkit-transition:all 0.3s ease-in-out;
                transition:all 0.3s ease-in-out;

            }
            a:hover {
                color:$main-slider-link-color;
            }
        }

    }
    .noveo {
        text-align: center;
        margin:0;
        padding:20px;
        color:#898989;
    }

}

/* RWD */

@media(max-width:991px){
    .footer__data {
        flex-direction: column;
        align-items: center;
    }
    
    .footer__box{
        width:60%;
    }
}

@media(max-width:530px){
    .footer__box{
        width:100%;
        padding-left:15px;
        padding-right:15px;
    }
}
