@import '../../../styles/global/variables';


.header {
    background:white;
    position:relative;
    -webkit-animation-name: slideInDown;
            animation-name: slideInDown;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    &__tel {
        position:relative;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-align:center;
            -ms-flex-align:center;
                align-items:center;
        &:hover .header__tel-text {
            color:$main-slider-link-color;
        }      
        &:before{
            content:'';
            display:block;
            height:30px;
            width:1px;
            background:#363636;
            position:absolute;
            left:0;
            top:15px;
        }  
    }
    &__tel-text {
        font-size:16px;
        margin-left:15px;
        color:#363636;
        -webkit-transition:all 0.3s ease-in-out;
        transition:all 0.3s ease-in-out;
    }
    &__tel-icon {
        margin-left:15px;
    }
    &__container{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    &__wrapper {
        display:flex;
        align-items:center;
    }
    &__hamburger{
        display:none;
        width:40px;
        height:40px;
        cursor:pointer;
        position:absolute;
        top:30px;
        right:15px;

        span {
            display:block;
            height:2px;
            width:100%;
            margin-top:8px;
            background:$main-slider-link-color;
        }
    }
    &__nav {
        
        display:-webkit-box;
        
        display:-ms-flexbox;
        
        display:flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align:center;
            -ms-flex-align:center;
                align-items:center;
        width:100%;
        padding:20px 0;
    }
    &__list {
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        li {
            list-style:none;
        }
        a {
            text-transform:uppercase;
            font-weight:600;
            padding:0 30px;
            color:$main-font-color;
        }
        a:hover {
            color:$main-slider-link-color;
        }
        a.active {
            color:$main-slider-link-color;
        }

    }
}


@-webkit-keyframes slideInDown {
    from {
      -webkit-transform: translate3d(0, -100%, 0);
              transform: translate3d(0, -100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
  }


@keyframes slideInDown {
    from {
      -webkit-transform: translate3d(0, -100%, 0);
              transform: translate3d(0, -100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInDown {
    -webkit-animation-name: slideInDown;
            animation-name: slideInDown;
  }
 
  @media(max-width:1220px){

      .header__logo{
          max-width:170px;
          height:auto;
      }
  }

  @media(max-width:1100px){
      .header__list a {
          padding:0 15px;
      }
  }

  @media(max-width:940px){
    .header__logo-box {
        position:absolute;
        top:30px;
        left:15px;
        z-index:2;  
    }
    .header__hamburger{
        display:block;
    }
    .header__wrapper{
        visibility:hidden;
        opacity:0;
        transition:all 0.3s ease-in-out;
        position: fixed;
        opacity: 0;
        visibility: hidden;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background: white;
        right: 0;
        top: 0;
        transition: all 0.3s ease-in-out;
        align-items: flex-end;
        align-items:center;
        padding-top: 100px;
    }
    .header__list {
        display:flex;
        flex-direction: column;
        margin:0;
        padding:0;
        width:100%;
        
    }
    .header__nav {
        height:105px;
    }
    .header__nav.active {
        height:100vh;
    }
    .header__wrapper.active {
        opacity:1;
        visibility: visible; 


    }
    .header__list-link {
        display:block;
        text-align: center;
    }

    .header__list a {
        padding:10px;;
    }

    .header__tel-icon {
        margin-left:0;
    }

    .header__tel:before {
        content:none;
    }

  }