@import '../../../styles/global/variables';


.header {
    background:white;
    &__container{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    &__nav {
        
        display:flex;
        justify-content: space-between;
        align-items:center;
        width:100%;
        padding:20px 0;
    }
    &__list {
        display:flex;
        li {
            list-style:none;
        }
        a {
            text-transform:uppercase;
            font-weight:600;
            padding:0 30px;
            color:$main-font-color;
        }
        a:hover {
            color:$main-slider-link-color;
        }
        a.active {
            color:$main-slider-link-color;
        }

    }
}

