.contact {
    padding:50px;
    &__row {
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    &__column {
        width:45%;
        text-align: center;
        background:white;
        padding:50px;

    }
    &__map {
        margin-top:50px;
    }
    &__content {
        text-align: center;
        padding: 50px 0;
        background: white;
        margin: 50px 0;

    }
}
main {
    -webkit-animation-name: slideInUp;
            animation-name: slideInUp;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
    // min-height: 100vh;
    -webkit-transition:all 1s ease-in-out;
    transition:all 1s ease-in-out;
    opacity:0;
}
.about-loader {
    min-height:80vh;
    -webkit-animation-name:fadeIn;
            animation-name:fadeIn;
    -webkit-animation-duration:0.5s;
            animation-duration:0.5s;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
}