<div class="container container--flex" *ngIf="loaded">
  <aside class="aside">
      <nav class="aside__menu">
          <ul class="aside__menu-list">
            <li 
              class="aside__menu-item"
              *ngFor="let item of aside.items"
              [className]="item.menu_item_parent != 0 ? 'aside__menu-item--child':'aside__menu-item--parent'">
              <a class="aside__menu-link" routerLink="{{item.link}}" routerLinkActive="active">{{item.title}}</a>
            </li>
          </ul>          
      </nav>
    </aside>
    <main class="main">
      <section class="start-about about">
          <div class="start-about__wrap">
            <div class="start-about__box">
              <div class="page-title">
                <div class="page-title__line"></div>
                <div class="page-title__text">O nas</div>
              </div>
              <div class="start-about__text" [innerHTML]="about.content.rendered"></div>
            </div>  
            <div class="start-about__box">
              <div class="start-about__image" [ngStyle]="{'background-image':'url('+about.acf.image+')'}" ></div>
            </div>
          </div>
      </section>
    </main>
</div>
