main {
    -webkit-animation-name: slideInUp;
            animation-name: slideInUp;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
    min-height: 100vh;
    -webkit-transition:all 1s ease-in-out;
    transition:all 1s ease-in-out;
    opacity:0;
}
.about-loader {
    min-height:100vh;
    -webkit-animation-name:fadeIn;
            animation-name:fadeIn;
    -webkit-animation-duration:0.5s;
            animation-duration:0.5s;
    
}

.start-about {
    &__wrap{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align:center;
            -ms-flex-align:center;
                align-items:center;
    }
    &__box {
        width:100%;

    }
    &__text {
        padding:0px 0 60px 60px;
    }
    &__image {
        background-size:cover;
        background-position:center;
        background-repeat:no-repeat;
        height:600px;
    }
}

.about .page-title {
    margin-left:60px;
    margin-top:60px;
}

.footer {
    padding-top:0;
}

/* RWD */

@media(max-width:991px){
    .start-about__text {
        padding: 0px 0 30px 30px;
    }
    .about .page-title {
        margin-left:30px;
        margin-top:30px;
    }
    
}

@media(max-width:600px){
    .start-about__image {
        height:400px;
    }
}

@media(max-width:350px){
    .start-about__image {
        height:300px;
    }
}

