<div class="container container--flex" *ngIf="loaded; else loader">
    <aside class="aside">
        <nav class="aside__menu">
            <ul class="aside__menu-list">
              <li 
                class="aside__menu-item"
                *ngFor="let item of aside.items"
                [className]="item.menu_item_parent != 0 ? 'aside__menu-item--child':'aside__menu-item--parent'">
                <a class="aside__menu-link" routerLink="{{item.link}}" routerLinkActive="active">{{item.title}}</a>
              </li>
            </ul>          
        </nav>
      </aside>
      <div *ngIf="empty; else content" class="error">
          <section class="default">
              <div class="page-title">
                <div class="page-title__line">
                    <div class="page-title__progress"></div>
                </div>
                <div class="page-title__text">Błąd 404...</div>
              </div>
              <div class="default__text">
                <div class="default__content">
                  <h2>Brak szukanej frazy...</h2>
                </div>
              </div> 
            </section>
      </div>
      <ng-template #content>
      <main class="main">
        <section class="offer-single">
          <div class="page-title">
            <div class="page-title__line">
                <div class="page-title__progress"></div>
            </div>
            <div class="page-title__text">Usługi</div>
          </div>
          <div class="offer-single__text">
            <h2 class="offer-single__title" [innerHTML]="offerSingle[0].title.rendered"></h2>
            <div class="offer-single__content" [innerHTML]="offerSingle[0].content.rendered"></div>
          </div> 
        </section>
      </main>
    </ng-template>
  </div>
  <ng-template #loader>
      <div class="about-loader"></div>
  </ng-template>

