/* imports */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900&subset=latin-ext');

@import './styles/global/mixins';
@import './styles/global/variables';
@import './styles/global/normalize';
@import './styles/global/lightbox';
@import './styles/global/loader';

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    }

body {
    font-family: 'Montserrat', sans-serif;
    color:$main-font-color;
    background:$body-background-color;
}

.container {
    width:1320px;
    margin:0 auto;
}
.container--flex{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:start;
        -ms-flex-align:start;
            align-items:flex-start;
    margin-top:50px;
    
}

.aside {
    padding:35px;
    background:white;
    width:30%;
    position:relative;
    animation-name: slideInLeft;
    animation-duration:1s;
    animation-fill-mode: forwards;

    &__menu-list{
        margin:0;
        padding:0;
    }

    &__menu-item--parent,
    &__menu-item--child {
        list-style:none;
    }
    &__menu-item--child .aside__menu-link {
        border-bottom:none;
        text-transform:none;
        font-weight:400;
        padding-left:20px;
        position:relative;
        padding-top:10px;
        padding-bottom:10px;
        &:after{
            content:"";
            display:block;
            height:5px;
            width:5px;
            position:absolute;
            background:black;
            top:20px;
            left:0;
        }
    }

    &__menu-link{
        font-weight:600;
        padding:15px 0;
        display:block;
        font-size:16px;
        // @include css-lock(14,16);
        color:#898989;
        text-transform: uppercase;
        -webkit-transition:all 0.3s;
        transition:all 0.3s;
        border-bottom:1px solid #d9d9d9;
        &:hover {
            color:$main-slider-link-color;
        }
    }
    &__menu-link.active {
        color:$main-slider-link-color;
    }
}
.main {
    width:70%;
    padding-bottom:50px;
}

h2 {
    font-size:48px;
    @include css-lock(30,48);
    font-weight:600;
}

h4 {
    font-size:18px;
    @include css-lock(16,18);
    font-weight:600;
}

p {
    font-size:14px;
    @include css-lock(12,14);
    font-weight:300;
    line-height:1.8;

}

ul li,
ol li {
    font-size:14px;
    @include css-lock(12,14);
    font-weight:300;
    line-height:1.8;
}

a {
    text-decoration:none;
    line-height:1.8;
    font-size:14px;
    @include css-lock(12,14);
    -webkit-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    &:hover {
        color:$main-slider-link-color;
    }
}

.page-title {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;

    &__line{
        // background:$main-slider-link-color;
        height:20px;
        width:40px;
    }
    &__progress {
        height:20px;
        width:0;
        animation-name:widthIn;
        animation-duration:0.5s;
        animation-delay: 1.8s;
        animation-fill-mode: forwards;
        background:$main-slider-link-color;
    }
    &__text {
        margin-left:20px;
        color:$main-font-color;
        font-weight:600;
        text-transform:uppercase;
        padding-right:20px;
        border-right:1px solid $main-font-color;
    }
}

.page-link {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    &__line{
        background:$main-slider-link-color;
        height:20px;
        width:40px;
    }
    &__text {
        margin-left:20px;
        color:$main-font-color;
        font-weight:600;
        text-transform:uppercase;
        padding-right:20px;
        border-right:1px solid $main-font-color;
    }
}

.start-map {
    margin-bottom:-111px;
    iframe {
        height:520px;
        margin:0;
        padding:0;
    }
}

.main-loader {
    background:white;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    height:100vh;
    width:100%;
    animation-name: fadeIn;
    animation-duration:0.5s;
}

.swiper-scrollbar-drag{
    height:6px;
    background:rgba(0, 0, 0, 0.4);
}


/* RWD */

@media(max-width:1355px){
    .container {
        width:100%;
        padding-left:15px;
        padding-right:15px;
    }
}