/* imports */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900&subset=latin-ext');

@import './styles/global/mixins';
@import './styles/global/variables';
@import './styles/global/normalize';

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }

body {
    font-family: 'Montserrat', sans-serif;
    color:$main-font-color;
    background:$body-background-color;
}

.container {
    width:1320px;
    margin:0 auto;
}

h2 {
    font-size:48px;
    @include css-lock(30,48);
    font-weight:600;
}

h4 {
    font-size:18px;
    @include css-lock(16,18);
    font-weight:600;
}

p {
    font-size:14px;
    @include css-lock(12,14);
    font-weight:300;
    line-height:1.8;

}

a {
    text-decoration:none;
    line-height:1.8;
    font-size:14px;
    @include css-lock(12,14);
    transition:all 0.3s ease-in-out;
    &:hover {
        color:$main-slider-link-color;
    }
}

.page-title {
    display:flex;
    align-items:center;

    &__line{
        background:$main-slider-link-color;
        height:20px;
        width:40px;
    }
    &__text {
        margin-left:20px;
        color:$main-font-color;
        font-weight:600;
        text-transform:uppercase;
        padding-right:20px;
        border-right:1px solid $main-font-color;
    }
}

.page-link {
    display:flex;
    align-items:center;
    &__line{
        background:$main-slider-link-color;
        height:20px;
        width:40px;
    }
    &__text {
        margin-left:20px;
        color:$main-font-color;
        font-weight:600;
        text-transform:uppercase;
        padding-right:20px;
        border-right:1px solid $main-font-color;
    }
}

.start-map {
    margin-bottom:-111px;
    iframe {
        height:520px;
        margin:0;
        padding:0;
    }
}