<main *ngIf="loaded; else loader">
  <section class="start-slider">
    <div class="container">
      <div  class="main-slider swiper-container" [swiper]="config">
          <div class="swiper-wrapper">
              <div *ngFor="let slide of slides" class="swiper-slide main-slider__slide">
                  <div class="main-slider__content">
                      <div class="main-slider__top-box">
                          <div class="main-slider__link-line">
                              <div class="main-slider__link-progress"></div>
                          </div>
                          <p>Nowość</p>
                      </div>
                      <h2 class="main-slider__title">{{slide.title}}</h2>
                      <p class="main-slider__text">{{slide.text}}</p>
                      <div class="main-slider__link-box">
                        <div class="main-slider__link-line">
                          <div class="main-slider__link-progress"></div>
                        </div>
                        <a class="main-slider__link" routerLink="{{slide.link.url}}">{{slide.link.title}}</a>
                      </div>
                      
                    </div>
                  <div class="main-slider__image" [ngStyle]="{'background-image':'url('+slide.img+')'}"></div>
              </div>
          </div>
          <div class="main-slider__footer">
            <div class="main-slider__box"></div>
            <div class="main-slider__box">
                <div class="main-slider__nav">
                    <div class="swiper-button-prev">
                      <img src="./assets/img/prev.png"/>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-scrollbar"></div>
                    <div class="swiper-button-next">
                        <img src="./assets/img/next.png"/>
                    </div>
                </div>
            </div>
          </div>           
        </div>
      </div>  
  </section>
  <section class="start-offer">
    <div class="container">
      <div class="start-offer__wrap">
          <div class="start-offer__row" *ngFor="let item of offerRow;let i = index ">
            <a 
                routerLink="/uslugi/{{thumb.slug}}"
                class="start-offer__thumb" 
                *ngFor="let thumb of offer.slice((i-1)*6,i*6)"
                [ngStyle]="{'background-image':'url('+thumb.featured_image.url[0]+')'}">
              <div class="start-offer__name-box">
                <div class="start-offer__line"></div>
                <h4 class="start-offer__title" [innerHTML]="thumb.title.rendered"></h4>
              </div>
              <p class="start-offer__preview" [innerHTML]="thumb.acf.preview"></p>  
              <div class="start-offer__link-box">
                <p class="start-offer__link-text">Czytaj więcej</p>
                <div class="start-offer__link-line"></div>
              </div>
            </a>
          </div>
      </div>
    </div>  
  </section>
  <section class="start-about">
    <div class="container">
      <div class="start-about__wrap">
        <div class="start-about__box">
          <div class="start-about__image" [ngStyle]="{'background-image':'url('+start.acf.about[0].img+')'}" ></div>
        </div>
        <div class="start-about__box">
          <div class="page-title">
            <div class="page-title__line"></div>
            <div class="page-title__text">O nas</div>
          </div>
          <div class="start-about__text" [innerHTML]="start.acf.about[0].text"></div>
          <div class="page-link">
              <div class="page-link__line"></div>
              <a routerLink="{{start.acf.about[0].link.url}}" class="page-link__text">{{start.acf.about[0].link.title}}</a>
            </div>
        </div>
      </div>
    </div>
  </section>
  <section class="start-map">
    <div class="container">
        <iframe width="100%" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=Laser%20Stempel%20ul.Sobieskiego%2065%2084-230%20Rumia-Janowo+()&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" border="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div>
  </section>
</main>
<ng-template #loader>
    <div class="start-loader" #loader></div>
</ng-template>

