
@import '../../../styles/global/swiper';
@import '../../../styles/global/mixins';
@import '../../../styles/global/variables';
@import '../../../styles/global/loader';

main {
    -webkit-animation-name: slideInUp;
            animation-name: slideInUp;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    min-height: 100vh;
    -webkit-transition:all 1s ease-in-out;
    transition:all 1s ease-in-out;
}
.start-loader {
    min-height:100vh;
    -webkit-animation-name:fadeIn;
            animation-name:fadeIn;
    -webkit-animation-duration:0.5s;
            animation-duration:0.5s;
}
.main-slider {
    background:$main-slider-background;
    padding:60px 60px 0 0;
    &__slide{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background:$main-slider-background;
    }

    &__image {
        background-repeat: no-repeat;
        background-size:cover;
        background-position:center;
        height:350px;
        width:50%;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align:center;
            -ms-flex-align:center;
                align-items:center;
        position:relative;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
            -ms-flex-direction:column;
                flex-direction:column;
    }

    &__content{
        width:50%;
    }

    &__title{
        font-size:48px;
        @include css-lock(24,48);
        font-weight:600;
        max-width:400px;
        font-weight:600;
        padding-left:60px;

    }
    &__text {
        max-width:400px;
        padding-left:60px;
    }

    &__nav {
        position:relative;
        width:100%;
        height:100px;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-align:center;
            -ms-flex-align:center;
                align-items:center;
        padding:0 50px;

        .swiper-button-prev,
        .swiper-button-next {
            background:transparent;
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align:center;
                -ms-flex-align:center;
                    align-items:center;
            outline:0;
        }

        .swiper-pagination{
            text-align:left;
            position:relative;
            width:60px;
            color:$main-slider-nav-background;
            font-family: 'Montserrat', sans-serif;
            font-weight:600;
            font-size:16px;
            margin-top:22px;

        }
        .swiper-scrollbar{
            height:6px;
            width:100%;
            .swiper-scrollbar-drag{
                height:6px;
                background:rgba(0, 0, 0, 0.4);
            }
        }
    }
    &__footer {
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
    }
    &__box {
        width:50%;
    }
    &__link-box {
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-align:center;
            -ms-flex-align:center;
                align-items:center;
        margin-top:40px;
    }
    &__link-line {        
        height:20px;
        width:40px;
    }
    &__link-progress{
        -webkit-animation-name:widthIn;
                animation-name:widthIn;
        -webkit-animation-duration:0.5s;
                animation-duration:0.5s;
        -webkit-animation-delay: 1s;
                animation-delay: 1s;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
        background:$main-slider-link-color;
        width:0px;
        height:20px;
    }
    &__link{
        margin-left:20px;
        color:$main-font-color;
        font-weight:600;
        text-transform:uppercase;
        padding-right:20px;
        border-right:1px solid $main-font-color;
        -webkit-transition:all 0.3s ease-in-out;
        transition:all 0.3s ease-in-out;
        &:hover {
            color:$main-slider-link-color;
        }
        
    }
    &__top-box{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        p {
            text-transform: uppercase;
            margin:0 0 0 20px;
            font-weight:600;

        }
    }

    

}


.start-about {
    &__wrap{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-align:center;
            -ms-flex-align:center;
                align-items:center;
    }
    &__box {
        width:50%;

    }
    &__text {
        padding:60px 0 60px 60px;
    }
    &__image {
        background-size:cover;
        background-position:center;
        background-repeat:no-repeat;
        height:600px;
    }
}

.start-offer {
    margin-top:50px;
    $self:&;

    &__wrap{

    }
    &__row {
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -ms-flex-wrap:wrap;
            flex-wrap:wrap;
        position:relative;
    }
    &__title {
        font-size:30px;
        // @include css-lock(14,30);
        text-transform: uppercase;
        margin-left:20px;
        margin-bottom:0;
    }

    &__line {
        margin-top:38px;
    }
    &__thumb {
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        color:$main-font-color;
        -webkit-transition:all 0.3s ease-in-out;
        transition:all 0.3s ease-in-out;
        &:hover {
            -webkit-box-shadow:0px 0px 21px 0px rgba(0, 0, 0, 0.2);
                    box-shadow:0px 0px 21px 0px rgba(0, 0, 0, 0.2);
        }
        

    }

    &__preview {
        padding:0 60px;
    }

    &__link-box {
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-align:center;
            -ms-flex-align:center;
                align-items:center;
        margin-bottom:44px;
    }
    &__link-line {
        background:#678c8f;
        height: 20px;
        width: 40px;
        -webkit-box-ordinal-group:2;
            -ms-flex-order:1;
                order:1;
    }
    &__link-text {
        margin-top:0;
        margin-bottom:0;
        margin-left:20px;
        padding-right:20px;
        border-right:1px solid #363636;
        text-transform:uppercase;
        -webkit-box-ordinal-group:3;
            -ms-flex-order:2;
                order:2;
        font-weight: 600;
        -webkit-transition:all 0.3s ease-in-out;
        transition:all 0.3s ease-in-out;
        &:hover {
            color:$main-slider-link-color;
        }
    }
    

    &__name-box {
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-align:center;
            -ms-flex-align:center;
                align-items:center;
    }
    &__thumb:nth-child(1) {
        height:635px;
        width:635px;
        margin-right:50px;
        margin-bottom:50px;
        position:relative;

        #{$self}__line {
            background:#678c8f;
            height: 20px;
            width: 40px;
            
        }

        #{$self}__link-box {
            position:absolute;
            right:0;
            top:51px;
            -webkit-box-ordinal-group:3;
                -ms-flex-order:2;
                    order:2;
        }

        #{$self}__link-text{
            margin-top:0;
            margin-bottom:0;
            padding-left:20px;
            padding-right:0;
            border-left:1px solid white;
            border-right:none;
            margin-right:20px;
            color:white;
            text-transform:uppercase;
            -webkit-box-ordinal-group:2;
                -ms-flex-order:1;
                    order:1;
        }

        #{$self}__preview{
            color:white;
            position:absolute;
            top:120px;
        }

    }

    &__thumb:nth-child(2) {
        height:290px;
        width:635px;

        #{$self}__line {
            background:#005183;
            height: 20px;
            width: 40px;
        }
        #{$self}__link-line {
            background:#005183;
        }

        #{$self}__preview{
            max-width:400px;
        }


    }

    &__thumb:nth-child(3) {
        height:290px;
        width:635px;
        position:absolute;
        right:0;
        top:345px;

        #{$self}__line {
            background:#e31e25;
            height: 20px;
            width: 40px;
        }

        #{$self}__link-line {
            background:#e31e25;
        }
        #{$self}__preview{
            max-width:400px;
        }

    }

    &__thumb:nth-child(4) {
        height:290px;
        width:100%;
        margin-bottom:50px;

        .start-offer__title {
            color:white;
        }

        #{$self}__line {
            background:#38322a;
            height: 20px;
            width: 40px;
        }

        #{$self}__link-text {
            color:white;
        }

        #{$self}__link-line {
            background:#38322a;
        }

        #{$self}__preview{
           color:white;
           max-width:600px;
        }

    }

    &__thumb:nth-child(5) {
        height:290px;
        width:635px;
        margin-right:50px;
        margin-bottom:50px;

        #{$self}__line {
            background:white;
            height: 20px;
            width: 40px;
        }

        #{$self}__link-line {
            background:white;
        }

        #{$self}__preview{
            color:white;
            max-width:400px;
         }

    }

    &__thumb:nth-child(6) {
        height:290px;
        width:635px;
        margin-bottom:50px;

        #{$self}__line {
            background:#d2a21a;
            height: 20px;
            width: 40px;
        }

        #{$self}__link-line {
            background:#d2a21a;
        }

        #{$self}__preview{
            max-width:400px;
        }

    }
}


/* RWD */

@media(max-width:1355px){
    
    // .start-offer__row {
    //     justify-content: space-between;
    // }

    .start-offer {
        margin-top:2%;
    }
    .start-offer__thumb:nth-child(1) {
        width:49%;
        height:607px;
        margin-right:1%;
        margin-bottom:2%;
    }

    .start-offer__thumb:nth-child(2) {
        width:49%;
        margin-left:1%;
        
    }
    .start-offer__thumb:nth-child(3){
        width:49%;
        top:316px;
        
    }

    .start-offer__thumb:nth-child(4){
        margin-bottom:2%;
    }

    .start-offer__thumb:nth-child(5){
        width:49%;
        margin-right:1%;
        margin-bottom:2%;
    }
    .start-offer__thumb:nth-child(6){
        width:49%;
        margin-left:1%;
        margin-bottom:2%;
    }
}

@media(max-width:1020px){
    .main-slider__image{
        height:250px;
    }
}

@media(max-width:991px) {
    .start-offer__thumb:nth-child(1){
        width:100%;
        margin:0 0 2% 0;
        height:300px;
        .start-offer__preview {
            max-width:350px;
        }
    }
    .start-offer__thumb:nth-child(2){
        width:100%;
        margin:0 0 2% 0;
    }

    .start-offer__thumb:nth-child(3){
        width:100%;
        position:relative;
        margin:0 0 2% 0;
        top:auto;
    }

    .start-offer__thumb:nth-child(4){
        width:100%;
        margin:0 0 2% 0;
    }

    .start-offer__thumb:nth-child(5){
        width:100%;
        margin:0 0 2% 0;
    }
    .start-offer__thumb:nth-child(6){
        width:100%;
        margin:0 0 2% 0;
    }
}

@media(max-width:768px){
    .start-about__wrap{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .start-about__box{
        width:100%;
    }
    .start-about__box:nth-child(1){
        -webkit-box-ordinal-group:3;
            -ms-flex-order:2;
                order:2;
    }
    .start-about__box:nth-child(2){
        -webkit-box-ordinal-group:2;
            -ms-flex-order:1;
                order:1;
        margin-top:4%;
    }

    .start-about__image{
        height:520px;
    }

    .main-slider__slide{
        flex-direction: column;
    }
    .main-slider__content{
        width:100%;
    }

    .main-slider__image{
        height:300px;
        width:100%;
    }
}

@media(max-width:500px){
    .main-slider{
        padding:20px;
    }
    .main-slider__image{
        height:220px;
        margin-top:30px;
    }
    .main-slider__box:nth-child(1){
        display:none;
    }
    .main-slider__box:nth-child(2){
        width:100%;
    }
    .start-offer__link-text{
        display:none;
    }
    .start-offer__title{
        font-size: 20px;
        margin-top:40px;
    }

    .start-about__image {
        height: 270px;
        margin: 30px 0;
    }
}